@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@500;700&family=Inter:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
body {
  font-family: "David Libre", serif;
}
p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #5c6574;
}
/* header area css */
.menu_part {
  padding: 20px 0;
}
.menu .nav-item {
  padding: 0px 5px;
}
.menu .nav-item .nav-link {
  padding: 15px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  font-family: "Inter", sans-serif;
  color: #101a24;
  text-transform: capitalize;
  transition: 0.4s;
}
.menu .nav-item .active,
.menu .nav-item:hover .nav-link {
  color: #ea6d27;
  font-weight: 500;
}
.theme_btn {
  background-color: #ea6d27;
  padding: 15px 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border-radius: 15px 0px 15px 0px;
  transition: 0.4s;
  font-size: 20px;
  font-family: "David Libre", serif;
  font-weight: 500;
}
.theme_btn:hover {
  background-color: #ea6d27;
  color: #101a24;
}
.menu_btn {
  background-color: #101a24;
  transition: 0.4s;
  margin-right: 20px;
}
.menu_btn:hover {
  background-color: #101a24;
  color: #ea6d27;
}
/* hero area start */
#hero_area {
  padding: 140px 0;
}
.theme_content h1 {
  font-size: 70px;
  font-family: "David Libre", serif;
  font-weight: 700;
  color: #101a24;
  line-height: 72px;
  margin-bottom: 60px;
}
.group_btn {
  margin-top: 40px;
}
.social_icon {
  margin-top: 60px;
  position: relative;
}
.social_icon::after {
  position: absolute;
  content: "";
  width: 140px;
  height: 1px;
  opacity: 0.15;
  border: 1px solid #000000;
  top: 50%;
  transform: translateY(-50%);
}
.social_icon a {
  transition: 0.4s;
}
.social_icon a i {
  font-size: 20px;
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #101a24;
  padding-top: 10px;
  color: #101a24;
  margin-right: 15px;
}
.social_icon a:hover i {
  border: 2px solid #ea6d27;
  color: #ea6d27;
}
/* special area start */
#customer_area,
#restaurant_area,
#special_area {
  padding: 100px 0;
  background: #f3f4f4;
}
.special_heading {
  margin-bottom: 50px;
}
.group_food_card {
  margin-top: 100px;
}
.special_heading h2 {
  font-size: 60px;
  font-family: "David Libre", serif;
  font-weight: 700;
  color: #101a24;
  margin-bottom: 20px;
}
.heading p {
  padding: 0px 130px;
}
.food_card {
  border: 2px solid #ffffff;
  padding: 40px 25px;
  border-radius: 50px 0px 50px 0px;
  transition: 0.4s;
}
.food_card:hover {
  background: #ffffff;
}
.card_img {
  position: relative;
  margin-top: -140px;
}
.card_img::after {
  position: absolute;
  content: "$12";
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  top: 45px;
  right: 10px;
}
.card_content h4 {
  font-size: 20px;
  font-family: "David Libre", serif;
  font-weight: 700;
  color: #101a24;
  padding-top: 35px;
}
/* restaurant area start */
.restaurant_content {
  padding-top: 80px;
}

/* chef_area start */
#chef_area {
  padding: 100px 0;
}
.heading {
  padding-top: 80px;
}
.list_item {
  margin-top: 50px;
}
.list_item ul {
  padding: 0;
}
.list_item ul li {
  position: relative;
  margin-left: 35px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5c6574;
  padding: 7px 0px;
}
.list_item ul li::before {
  position: absolute;
  content: "";
  top: 50%;
  margin-left: -35px;
  transform: translateY(-50%);
  background-image: url(../image/check.png);
  width: 24px;
  height: 24px;
}
#chef_area .group_btn {
  margin-left: 30px;
}
/* customer_area start */

/* #customer_area {
  background-image: url(../image/bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
} */
#customer_area {
  padding: 100px 0px 320px;
}
.testi_img img {
  width: 109px !important;
  height: 109px !important;
  border-radius: 50%;
  margin-left: 260px;
}
.star {
  padding: 15px 0;
}
.testi_content {
  padding: 73px 60px 15px;
  margin-top: -55px;
  background: #ffffff;
  border-radius: 50px 0px 50px 0px;
}
#customer_area .owl-dots {
  position: absolute;
  width: 100%;
  bottom: -85px;
  left: 30%;
}
#customer_area .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin: 5px 7px;
  background: #c6c8ca;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
#customer_area .owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: #ea6d27 !important;
}
/* newsletter area start */
.newsletter {
  background-image: url(../image/newsletter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  margin-top: -200px;
  border-radius: 20px;
  text-align: center;
}
.newsletter .special_heading h2 {
  padding-top: 40px;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 50px;
}
.news_form input {
  width: 80%;
  height: 50px;
  padding: 0px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}
.news_form input:focus {
  outline: none;
  border: none;
}
.news_form button {
  margin-top: -3px;
  padding: 11px 30px;
  background: #ea6d27;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: -157px;
  transition: 0.4s;
}
.news_form button:hover {
  background: #ea6d27;
  color: #ffffff;
}
